body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

body {
    color: #212121;
    font-family: 'Raleway', sans-serif;
}


h1 {
    font-family: 'Lora', serif;
}

#logoImage, .linkIcon {
    height: 4rem;
    margin: 0 20px;
}

#profileImage {
    height: 16rem;
    margin:20px;
}

#blurb {
    font-size: 1.25rem;
    margin-top: 0;
    
}

#aboutMeTitle{
  border-bottom: 1rem solid #C70039;
  width: 100%;
  display: block;
  }

#name {
    display: inline;
}

#portfolioTitle {
  border-bottom: 1rem solid #FFC300;
  width: 100%;
  display: block;
    
}

.cardLinks{
    color:#FFC300
}

#contactTitle {
  border-bottom: 1rem solid #1A5276;;
  width: 100%;
  display: block;
    
}
.iconRow {
    margin-bottom: 0;
}


        




      

