body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

body {
    color: #212121;
}

#logoImage, .linkIcon {
    height: 4rem;
    margin: 0 20px;
}

#profileImage {
    height: 16rem;
    margin:20px;
}

#blurb {
    font-size: 1.25rem;
    
}

#aboutMeTitle {

    text-decoration-line: underline;
    text-decoration-color: #C70039;
    
}

#name {
    display: inline;
}

#portfolioTitle {
    text-decoration-line: underline;
    text-decoration-color: #FFC300;
    
}

.cardLinks{
    color:#FFC300
}

#contactTitle {
    text-decoration-line: underline;
    text-decoration-color: #1A5276;
    
}




      

